.footer-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}
.footer-card{
    padding: 1rem;
}

.footer{
    margin: 0;
    height: 2rem;
    color: whitesmoke;
}
@media screen and (max-width: 795px) {
   .footer-container{
    flex-direction: column;
   }
  }
  