.navbar {
  display: flex;
  justify-content: space-around;
  background-color: #121619c7;
  width: 100%;
  height: auto;
  position: fixed;
  top: 0;
  z-index: 1;
}
.left-side,
.right-side {
  padding: 2rem;
}

.navbar a {
  text-decoration: none;
  color: white;
  padding-left: 2rem;
}

.hidden {
  display: none;
}
.nav-btn {
  display: none;
  background-color: transparent;
  color: white;
  border: none;
  cursor: pointer;
  margin-right: 3rem;
}

@media screen and (max-width: 795px) {
  .links {
    display: none;
  }
  .left-side,
  .right-side {
    padding: 2rem 3.8rem;
  }

  .navbar {
    justify-content: space-between;
    background-color: #121619c7;
  }

  #open,
  .nav-btn {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
  

  .hidden a {
    padding: 1.3rem 0;
    
  }
}
