.projects {
    width: 100%;
    height: auto;
    background-color: #000000;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .img-container {
    width: 80%;
    min-width: 60%;
    height: auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 1rem;
  }
  
  .projects h1 {
    padding: 6rem 0 2rem;
    color: #fff;
    font-size: 3rem;
  }
  
  .img-card {
    width: 22%;
    padding-bottom: 1.5rem;
  }
  
  .img-card img {
    width: 100%;
    border-radius: 1.5rem;
    transition: all 1s;
  }
  .img-card img:hover{
    transform: scale(2.2);
  }
  @media screen and (max-width: 969px) {
    .img-container {
      width: 95%;
      flex-direction: column;
    }
    .img-card {
      width: 80%;
    }
  }